%h1 Classic Monuments

%h2 Create New Monument
= link_to 'Cancel', monuments_path

= simple_form_for Monument.new do |f|
  = f.input :monument_type, collection: @type_array
  = f.collection_radio_buttons :single, [[true, 'Single'],
   [false, 'Double']], :first, :last
  = f.input :length
  = f.input :width
  = f.input :height
  = f.input :color, collection: @color_array
  = f.input :price_cents
  = f.button :submit
