%h1 Classic Monuments

%h2 Create New Order
= link_to 'Cancel', root_path

= simple_form_for Order.new do |f|
  = f.input :last_name
  = f.input :first_name
  = f.input :status, collection: @status_array
  -# = f.input :monument
  = f.input :monument_ordered, as: :radio_buttons
  = f.input :cemetery
  = f.input :date_ordered
  = f.input :date_set
  = f.input :ordered_by
  = f.input :address
  = f.input :phone_number
  = f.input :email
  = f.input :total_fees_cents, label: 'Total Fees'
  = f.input :balance_due_cents, label: 'Balance Due'
  = f.submit
